// Фоновые цвета
$background-color: #F7F8FA;
$card-background-color: #FFFFFF;

// Акцентные цвета
$accent-blue: #5C80BC; // основной акцентный цвет, например, для кнопок
$accent-pink: #C08497; // дополнительный акцент, например, для уведомлений
$accent-green: #A3BE8C; // для положительных уведомлений или иконок
$accent-orange: #D08770; // для выделений или предупреждений

// Цвета текста
$text-primary: #333333; // основной цвет текста
$text-secondary: #4F4F4F; // менее яркий текст
$text-muted: #737373; // вторичный текст или текст подсказок

// Дополнительные оттенки серого
$gray-light: #E8ECEF;
$gray-medium: #A0A4A8;
$gray-dark: #4F4F4F;
